.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        &.hidden-scroll {
            overflow: hidden;
        }
    }

    .empty-message {
        font-size: 18px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        margin-top: auto;
    }
}
